<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% if site.pgp_key_address %}
          <li><a href="{{site.pgp_key_address}}">{{site.pgp_key_word[page.lang]}}</a></li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.xmpp_address %}
          <li>
            {% include icon-xmpp.html address=site.xmpp_address %}
          </li>
          {% endif %}
          {% if site.bm_address %}
          <li>
            {% include icon-bm.html address=site.bm_address %}
          </li>
          {% endif %}
	  {% if site.orcid %}
	  <li>
		  {% include icon-orcid.html id=site.orcid %}
	  </li>
	  {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description[page.lang] }}</p>
      </div>
    </div>

  </div>

</footer>
